.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    z-index: 2;
    border-bottom: solid 1px rgb(0, 0, 0);
}

.mainbody{
    padding-top: 5px;
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-bottom: 5px;
}

.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 15px;
    color: blue;
    text-align: center;
    padding-top: 15px;
    border-top: solid 1px black;
}